
.soltaraf{
}

.sagtaraf{
}

.ortataraf{
}

.container {
}

.kisiresmi{
  width:50px;
  height: 50px;
  border-radius: 50%;
  border:2px solid black;
}
.baslik{
  color: #1B95E0;
}
.bosluk{
  padding-top: 30px;
}

.kisiarkaplan{
  background: #1B95E0;
}
.arkayazı{
}
 a{
   color: #1B95E0;
 }
